<div id="calendarContainer">
    <div class="calendar-month">
        <h4>Mês Atual</h4>
        <div class="calendar-days">
            <div class="calendar-day week-day">Dom</div>
            <div class="calendar-day week-day">Seg</div>
            <div class="calendar-day week-day">Ter</div>
            <div class="calendar-day week-day">Qua</div>
            <div class="calendar-day week-day">Qui</div>
            <div class="calendar-day week-day">Sex</div>
            <div class="calendar-day week-day">Sáb</div>
        </div>
    </div>
</div>